
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Tweets for {{records['user']}}</title>
</head>
<style type="text/css">
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
</style>
<body>

<h1 style="font-size:140%; font-family:Verdana, sans-serif;">Tweets for {{ records['user'] }}</h1>

<p style="font-size:80%; font-family:Verdana, sans-serif;">Median sentiment score: {{ median }} (-1.0 negative to 1.0 positive)


<ul>
    
    {% for each_tweet in tweets %}
    <li style="list-style:square; font-size:70%; font-family:Verdana, sans-serif; color:{{each_tweet['color']}}">
        {{each_tweet['score']}}: <a style="color:{{each_tweet['color']}}" href="https://twitter.com/{{ records['user'] }}/status/{{each_tweet['id']}}"">{{each_tweet['text']}}"</a>
    </li>
    {% endfor %}

</ul>

</body>
</html>